button {
  background: rgb(32, 86, 194);
  height: 100px;
  width: 100px;
  border-radius: 100%;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  color: rgba(245, 245, 245, 0.84);
  cursor: pointer;
  border: solid 2px black;
}

button:hover {
  background: rgb(32, 102, 194);
}
