.cards-container {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  border-radius: 5px;

  position: relative;
  top: 10px;
  display: flex;
}

@media (max-width: 1040px) {
  .cards-container {
    width: 796px;
  }
}

@media (min-width: 1040px) {
  .cards-container {
    width: 795px;
  }
}

@media (max-width: 900px) {
  .cards-container {
    width: 531px;
  }
}

@media (max-width: 670px) {
  .cards-container {
    width: 266px;
  }
}
