.cards-container {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  border-radius: 5px;

  position: relative;
  top: 10px;
  display: flex;
}

.back {
  position: absolute;
  left: 140px;
  top: 100px;
  border-radius: 50px;
  background: rgb(32, 86, 194);
  height: 50px;
  width: 100px;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  color: rgba(245, 245, 245, 0.84);
  cursor: pointer;
  border: solid 2px black;
}

@media (max-width: 1040px) {
  .cards-container {
    width: 796px;
  }
}

@media (min-width: 1040px) {
  .cards-container {
    width: 795px;
  }
}

@media (max-width: 900px) {
  .cards-container {
    width: 531px;
  }
}

@media (max-width: 670px) {
  .cards-container {
    width: 266px;
  }
}
